.default-page-padding {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  overflow: auto;
}

.back-button {
  width: 24px;
  height: 24px;
}

ion-slides {
  width: 100%;
}

.header-text {
  font-family: "Nova Round", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

.price-text {
  font-family: "Nova Round", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #ffcc22;
}

.product-details {
    margin-bottom: 16px;
    margin-top: 16px;
  .header {
    font-family: "Nova Round", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
  }
  .detail {
    font-family: "Nova Round", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.5;
  }
}
