<ion-content>
  <div class="default-page-padding">
    <span class="header-icons">
      <div class="back-button" [routerLink]="['/','home','main']">
        <img src="assets/backbutton.svg" />
      </div>
      <img
        [routerLink]="['/','home','cart']"
        src="assets/icon/shopping-cart.svg"
      />
    </span>
    <ion-slides pager="true">
      <ion-slide>
        <img src="assets/icon.svg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="assets/icon.svg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="assets/icon.svg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="assets/icon.svg" alt="" />
      </ion-slide>
    </ion-slides>

    <div class="header-text">Alfanso</div>
    <div class="price-text">$ 400</div>
    <div class="product-details">
      <div class="header">Product Details</div>
      <div class="detail">
        lorem ipsum dolor sit amet, consectetur adip, lorem ipsum dolor sit
        amet, consectetur adip
      </div>
    </div>
    <div class="product-details">
      <div class="header">Product Details</div>
      <div class="detail">
        lorem ipsum dolor sit amet, consectetur adip, lorem ipsum dolor sit
        amet, consectetur adip
      </div>
    </div>

    <button class="custom-button" [routerLink]="['/','home','cart']">
      Add to cart
    </button>
  </div>
</ion-content>
