<ion-content>
  <div class="default-page-padding">
    <span class="header-icons">
      <div class="back-button" [routerLink]="['/','home','main']">
        <img src="assets/backbutton.svg" />
      </div>
      <span class="header-text"> My Profile </span>
      <img
        [routerLink]="['/','home','cart']"
        src="assets/icon/shopping-cart.svg"
      />
    </span>
    <div class="headings">Information</div>
    <div class="profile-card">
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <span>
        <div class="profile-name">Vivek S</div>
        <div class="profile-mail">sgowdavivek@gmail.com</div>
        <div class="profile-addr">
          133, Near water tank, Makavalli , Holenarasipura
        </div></span
      >
    </div>
    <button class="custom-button">Update</button>
  </div></ion-content
>
