<ion-content>
  <div class="default-page-padding">
    <span class="header-icons">
      <img class="menu-size" src="assets/sideMenu.svg" />
      <img
        [routerLink]="['/','home','cart']"
        src="assets/icon/shopping-cart.svg"
    /></span>

    <div class="header">Delicious mangoes for you</div>
    <ion-searchbar animated class="search"></ion-searchbar>
    <!-- <drag-scroll> -->
    <ul class="nav nav-tabs nav-top">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Mangoes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Products</a>
      </li>
    </ul>
    <!-- </drag-scroll> -->

    <!-- <div class="container">
    <drag-scroll>
      <div class="item">
        <img src="assets/icon.svg" />
        <div class="inner-card">Delicious</div>
      </div>
    </drag-scroll>
  </div> -->
    <!-- <div class="container">
    <drag-scroll>
      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">$ 30</div>
        </div>
      </div>

      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">$ 30</div>
        </div>
      </div>

      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">$ 30</div>
        </div>
      </div>

      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">$ 30</div>
        </div>
      </div>
    </drag-scroll>
  </div> -->

    <!-- <div class="item-container">
    <div class="item">
      <div class="item-img">
        <img src="assets/icon.svg" />
      </div>
      <div class="item-card">
        <div class="item-name">Thotapuri</div>
        <div class="item-price">₹ 60 </div>
      </div>
    </div>

    <div class="item">
      <div class="item-img">
        <img src="assets/icon.svg" />
      </div>
      <div class="item-card">
        <div class="item-name">Badami</div>
        <div class="item-price">₹ 80</div>
      </div>
    </div>

    <div class="item">
      <div class="item-img">
        <img src="assets/icon.svg" />
      </div>
      <div class="item-card">
        <div class="item-name">Raspuri</div>
        <div class="item-price">₹ 100</div>
      </div>
    </div>

    <div class="item">
      <div class="item-img">
        <img src="assets/icon.svg" />
      </div>
      <div class="item-card">
        <div class="item-name">Alfanso</div>
        <div class="item-price">₹ 200</div>
      </div>
    </div>
  </div> -->

    <div class="item-listed">
      <div class="item" [routerLink]="['item-detail']">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>

      <div class="item right-list-margin" [routerLink]="['item-detail']">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>
    </div>
    <div class="item-listed">
      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>

      <div class="item right-list-margin">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>
    </div>
    <div class="item-listed">
      <div class="item">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>

      <div class="item right-list-margin">
        <div class="item-img">
          <img src="assets/icon.svg" />
        </div>
        <div class="item-card">
          <div class="item-name">Alfanso</div>
          <div class="item-price">₹ 200</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
