.icon-size {
  height: 73px;
  width: 73px;
}

.landing-page-padding {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-family: roundedFont;
  color: #ffffff;
  font-weight: bold;
  font-size: 32pt;
  margin-top: 24px;
}
